button{
    cursor:pointer;
    border:none;
    background: none;
    position: absolute;
}

.icon-size{
    height:100%;
    width:100%;
}

.bubble {
    background: url("../../../assets/images/bubulle.png") no-repeat no-repeat;
    height: 100%;
    width: 100%;
}

.bubble:hover {
    filter: brightness(150%);
}

.calm-bubble{
    height: 200px;
    width: 600px;
    top: 70%;
    left: 30%;
}

.cowork-bubble{
    height: 150px;
    width: 450px;
    top: 47%;
    left: 1%;
}

.music-bubble{
    height: 150px;
    width: 450px;
    margin-left: 25%;
    margin-top: 27%;
}