button {
    cursor:pointer;
    border:none;
    background: none;
    position: absolute;
}

.icon-size{
    height:100%;
    width:100%;
}

.bubble {
    background: url("../../../assets/images/bubulle.png") no-repeat no-repeat;
    height: 100%;
    width: 100%;
}

.bubble:hover {
    filter: brightness(150%);
}

.calm-bubble{
    height: 25%;
    width: 45%;
    top: 70%;
    left: 30%;
}

.cowork-bubble{
    height: 20%;
    width: 30%;
    top: 47%;
    left: 0%;
}

.music-bubble{
    height: 20%;
    width: 30%;
    left: 65%;
    margin-top: 27%;
}
