<button (click)="openBubble('4c6b90c8-68e1-11e9-a923-1681be663d3e')" class="bubble calm-bubble">
    <img class="icon-size" src="../../../assets/images/bubulle.png">
</button>

<button (click)="openBubble('338d187e-68e1-11e9-a923-1681be663d3e')" class="bubble cowork-bubble">
    <img class="icon-size" src="../../../assets/images/bubulle.png">
</button>

<button (click)="openBubble('54f6228a-68e1-11e9-a923-1681be663d3e')" class="bubble music-bubble">
    <img class="icon-size" src="../../../assets/images/bubulle.png">
</button>
