.backgroundImg{
    background-image:  url('../../../assets/images/OfficeBackground.png');
    background-size: cover;
    position: absolute;
    height:100%;
    width:100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -9999;
    object-fit: cover;
}


.seat {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}

.seat:hover {
  border: 1px solid black;
}

.reservedSeat {
  background-color: orange;
}

.freeSeat {
  background-color: green;
}

.occupiedSeat {
  background-color: red;
}
